*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.progress{
    transition: .2s;
    width: 0%;
    height: 7px;
    background: red;
    position: fixed;
    left: 0;
    top: 0;
}
h1,p{
    padding: 15px;
}